<div style="margin: 9% 0% 13% 0%" class="wrapper">
  <div class="profile">
    <div
      class="thumbnail"
      [style.background-image]="'url(' + user.mainPhoto + ')'"
    ></div>
    <h3 class="name">
      {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
    </h3>
    <p class="age">Age : {{ user.age }}</p>
  </div>

  <ul>
    <li [routerLink]="['/users', user.username]" title="View Profile">
      <i style="color: blue" class="popout fa fa-user"></i>
    </li>

    <li *ngIf="hasLiked === false; else Unlike" (click)="like()" title="Like">
      <i  class="popout fa fa-heart-o"></i>
    </li>

    <ng-template #Unlike>
      <li (click)="unlike()" title="Unlike">
        <i style="color: crimson" class="popout fa fa-heart"></i>
      </li>
    </ng-template>

    <li (click)="chatToUser()" title="Send Message">
      <i style="color: goldenrod" class="popout fa fa-envelope"></i>
    </li>
  </ul>
</div>
