.thumbnail {
  width: 124px;
  height: 124px;
  margin-bottom: 1.5em;
  background-position: center;
  background-size: cover;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.image:hover .popout {
  display: block;
}

.popout {
  display: none;
  animation: popout 0.3s ease;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.icon {
  float: right;
  margin-right: 20%;
  margin-top: 3%;
  width: 20%;
  user-select: none;
  cursor: pointer;
}
