@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Rubik:wght@600&display=swap");

.login {
  min-height: 80vh;
}

.form-control,
.btn {
  margin: 12% 0;
}

.register {
  margin-left: 20%;
  margin-top: 10%;
}

.logo {
  font-family: "MuseoModerno";
  font-size: xx-large;
  color: white;
  -webkit-text-stroke: 1px #6200ff;
  margin-bottom: 15%;
}

.account{
  margin-left: 7%;
}