@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Rubik:wght@600&display=swap");

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.navbar {
  background-color: #6200ff;
  user-select: none;
}

.navbar-brand {
  font-family: "MuseoModerno";
  font-size: x-large;
}

.thumbnail {
  width: 40px;
  height: 40px;
  display: flex;
  margin:0;
  border-radius: 100%;
  background-position: center;
  background-size: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
