<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">T E N A S</a>

      <ul
        class="navbar-nav me-auto mb-2 mb-md-0"
        style="margin-right: auto"
        *ngIf="accountManagerService.currentAccount$ | async"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/find-matches"
            routerLinkActive="active"
            >Find Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat" routerLinkActive="active"
            >Chat</a
          >
        </li>
      </ul>

      <ng-container
        *ngIf="accountManagerService.currentAccount$ | async as account"
      >
        <div style="margin-right: 1%" class="dropdown" dropdown>
          <a class="dropdown-toggle text-light h5" dropdownToggle></a>
          <div class="dropdown-menu mt-4" *dropdownMenu>
            <a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <div
          *ngIf="user != null"
          class="thumbnail"
          [style.background-image]="'url(' + user.mainPhoto + ')'"
        ></div>
      </ng-container>

      <ul
        *ngIf="!(accountManagerService.currentAccount$ | async)"
        class="navbar-nav ml-auto mb-2 mb-md-0"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <p class="nav" style="color: white; padding-top: 55%">or</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Sign In</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
