<div class="media w-50" [ngClass]="isOtherUser ? 'ml-3' : 'ml-auto'">
  <div class="media-body">
    <div
      [ngClass]="isOtherUser ? 'bg-light' : 'light-theme'"
      class="rounded py-2 px-3"
    >
      <span
        [ngClass]="isOtherUser ? 'text-muted' : 'text-white'"
        *ngIf="chatMessage.messageType === 'text'"
        class="text-small mb-0"
        [innerHTML]="processTextMessage(chatMessage.content)"
      ></span>
    </div>
    <div *ngIf="isLastSeenMessage">👁️‍🗨️</div>
    <p class="small text-muted">
      {{ chatMessage.createdAt | date: "shortTime" }} |
      {{ chatMessage.createdAt | date: "mediumDate" }}
    </p>
  </div>
</div>
