<section style="background-color: #eee; margin-bottom: 3.5%">
  <div class="container py-4">
    <div class="row text">
      <div class="col-lg-5">
        <div class="card mb-4">
          <div *ngIf="user != null" class="card-body text-center">
            <div
              class="thumbnail"
              [style.background-image]="'url(' + user.mainPhoto + ')'"
            ></div>
            <h5 style="font-size: xx-large" class="my-3">
              {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
            </h5>
            <p class="text-muted mb-1">@{{ user.username }}</p>
            <p class="text-muted mb-4">
              {{
                user.city && user.country
                  ? user.city + ", " + user.country
                  : "Not Dislosed"
              }}
            </p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn like">Like</button>
              <button type="button" class="btn btn-outline-primary ms-1">
                Message
              </button>
            </div>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul
              *ngIf="user != null"
              class="list-group list-group-flush rounded-3"
            >
              <li
                title="Gender"
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  p-3
                "
              >
                <img width="10%" src="../../../assets/gender-icon.png" />
                <h6 class="mb-0">{{ user.gender | titlecase }}</h6>
              </li>
              <li
                title="Age"
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  p-3
                "
              >
                <img width="10%" src="../../../assets/age-icon.png" />
                <h6 class="mb-0">
                  {{ user.age !== -1 ? user.age : "Not Disclosed" }}
                </h6>
              </li>
              <li
                title="Date of Birth"
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  p-3
                "
              >
                <img width="11%" src="../../../assets/date-of-birth-icon.png" />
                <h6>{{ user.dateOfBirth | date }}</h6>
                <h6 *ngIf="user.dateOfBirth == null">
                  {{ "Not Dsiclosed" }}
                </h6>
              </li>
              <li
                title="Last Active"
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  p-3
                "
              >
                <img
                  width="10%"
                  src="../.../../../../assets/last-seen-icon.png"
                />
                <h6>{{ user.lastActive | timeAgo }}</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="user != null" class="col-lg-7">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectAbout()"
              [class.active]="selectedIndex === ABOUT"
              >ABOUT</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectInterests()"
              [class.active]="selectedIndex === INTERESTS"
              >INTERESTS</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="selectPhotos()"
              [class.active]="selectedIndex === PHOTOS"
              >PHOTOS</a
            >
          </li>
        </ul>
        <div
          class="content about-content card"
          [style.display]="selectedIndex === ABOUT ? 'block' : 'none'"
        >
          <div class="card-body">
            <ng-container *ngIf="user.introduction">
              <h4>About {{ user?.firstName | titlecase }}</h4>
              {{ user.introduction }}
            </ng-container>

            <ng-container *ngIf="user.lookingFor">
              <h5 style="margin-top: 10%">Looking for</h5>
              {{ user.lookingFor }}
            </ng-container>

            <ng-container
              *ngIf="
                user.lookingFor == undefined && user.introduction == undefined
              "
            >
              <img
                width="50%"
                style="margin-left: 23%; margin-top: 20%"
                src="../../../assets/empty-info.png"
                alt="Empty User Info"
              />
            </ng-container>
          </div>
        </div>
        <div
          class="content interests-content card"
          [style.display]="selectedIndex === INTERESTS ? 'block' : 'none'"
        >
          <div class="card-body">
            <ng-container *ngIf="user.interests">
              <h4>Interested in</h4>
              {{ user.interests }}
            </ng-container>

            <ng-container *ngIf="user.interests == undefined">
              <img
                width="50%"
                style="margin-left: 23%; margin-top: 20%"
                src="../../../assets/empty-info.png"
                alt="Empty User Info"
              />
            </ng-container>
          </div>
        </div>
        <div
          class="content photos-content card"
          [style.display]="selectedIndex === PHOTOS ? 'block' : 'none'"
        >
          <div class="card-body">
            <ng-container *ngIf="galleryImages.length">
              <ngx-gallery
                style="display: inline-block; margin-bottom: 20px"
                [options]="galleryOptions"
                [images]="galleryImages"
              ></ngx-gallery>
            </ng-container>

            <ng-container *ngIf="galleryImages.length === 0">
              <img
                width="50%"
                style="margin-left: 23%; margin-top: 20%"
                src="../../../assets/empty-gallery.png"
                alt="Empty Image Gallery"
              />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
