@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Rubik:wght@600&display=swap");

div svg {
  height: 70px;
  cursor: pointer;
  margin-top: 10%;
  position: fixed;
  overflow: visible;
  width: 150px;
}
div svg polygon,
div svg path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
div svg:hover polygon,
div svg:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #6200ff;
}
div svg:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
div svg:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.filter-button {
  margin-top: 10%;
  min-width: 130px;
  min-height: 40px;
}

.filter {
  margin-bottom: 4%;
  margin-top: -7%;
  margin-left: 6%;
}

.form-control {
  border-color: #6200ff;
}

.filter-text {
  font-family: "Rubik", sans-serif;
  margin-bottom: 1%;
  font-size: small;
}

.no-matches {
  font-weight: bolder;
  font-size: 24px;
}
