<div style="margin-top: 20%" class="container">
  <div class="filter row">
    <div class="col-4">
      <div [align]="'center'" class="row">
        <div class="col-6">
          <p class="filter-text">MINIMUM AGE :</p>
          <input
            [(ngModel)]="filterOptions.minAge"
            (change)="
              filterOptions.minAge =
                filterOptions.minAge < defaultMinimumAge
                  ? defaultMinimumAge
                  : filterOptions.minAge
            "
            class="age shadow form-control"
            #minAge="ngModel"
            min="{{ defaultMinimumAge }}"
            type="number"
          />
        </div>

        <div class="col-6">
          <p class="filter-text">MAXIMUM AGE :</p>
          <input
            class="age shadow form-control"
            [(ngModel)]="filterOptions.maxAge"
            (change)="
              filterOptions.maxAge =
                filterOptions.maxAge > defaultMaximumAge
                  ? defaultMaximumAge
                  : filterOptions.maxAge
            "
            #maxAge="ngModel"
            max="{{ defaultMaximumAge }}"
            type="number"
          />
        </div>
      </div>
    </div>

    <div [align]="'center'" class="col-2">
      <p class="filter-text">GENDER :</p>
      <select class="shadow form-control" [(ngModel)]="filterOptions.gender">
        <option disabled hidden selected></option>
        <option [ngValue]="'male'">Male</option>
        <option [ngValue]="'female'">Female</option>
      </select>
    </div>

    <div class="col-1"></div>

    <div [align]="'center'" class="col-2">
      <button
        class="btn btn-floating shadow btn-outline-primary filter-button"
        title="Apply Filters"
        (click)="applyFilters()"
        type="button"
      >
        APPLY FILTERS
      </button>
    </div>

    <div [align]="'center'" class="col-2">
      <button
        class="btn btn-floating shadow btn-outline-success filter-button"
        title="Reset Filters"
        (click)="resetFilters()"
        type="button"
      >
        RESET FILTERS
      </button>
    </div>
  </div>

  <div *ngIf="userList.length; else NoMatches" class="row">
    <svg
      *ngIf="currentPosition >= viewUserCount"
      class="col"
      style="right: 87%"
      viewBox="0 0 18 17"
      (click)="goLeft()"
    >
      <g
        transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)"
      >
        <polygon
          class="arrow"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <polygon
          class="arrow-fixed"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
      </g>
    </svg>

    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
      <ng-container *ngFor="let user of userList">
        <div ngxSlickItem class="col">
          <app-user-card
            *ngIf="user != null; else emptySlot"
            [user]="user"
          ></app-user-card>
          <ng-template #emptySlot>
            <div></div>
          </ng-template>
        </div>
      </ng-container>
    </ngx-slick-carousel>

    <svg
      *ngIf="currentPosition + viewUserCount < userList.length"
      class="col"
      style="left: 87%"
      viewBox="0 0 18 17"
      (click)="goRight()"
    >
      <g>
        <polygon
          class="arrow"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <polygon
          class="arrow-fixed"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
      </g>
    </svg>
  </div>

  <ng-template #NoMatches>
    <div style="margin-top: 12%" [align]="'center'">
      <img
        width="10%"
        title="No Matches Found"
        src="../../../assets/no-matches-found-icon.png"
      />
      <p class="no-matches">No Matches Found..</p>
    </div>
  </ng-template>
</div>
