@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Rubik:wght@600&display=swap");

.jumbotron {
  background-color: #6200ff;
}

.logo {
  font-family: "MuseoModerno";
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px #6200ff;
  margin-bottom: 15%;
}
