@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Rubik:wght@600&display=swap");

.register {
  min-height: 80vh;
}

.form-control,
.btn {
  margin: 10% 0;
}

.error-field {
  border-color: red;
}

.error-message {
  color: red;
  float: left;
  margin-left: 3%;
}

.login {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.logo {
  font-family: "MuseoModerno";
  font-size: xx-large;
  color: white;
  -webkit-text-stroke: 1px #6200ff;
  margin-bottom: 15%;
  margin-top: 30%;
}

.content {
  margin-bottom: 10%;
  border-radius: 3%;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
