<div class="col-md-6 mx-auto content bg-white">
  <div style="user-select: none" class="register align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-7 mx-auto">
          <div [align]="'center'" class="logo">T E N A S</div>
          <h3
            [align]="'center'"
            style="margin-bottom: 12%; white-space: nowrap"
            class="display-6"
          >
            Account Creation
          </h3>

          <form [formGroup]="model" autocomplete="off" (ngSubmit)="register()">
            <span class="error-message">
              {{ getErrorMessage(model.controls["firstName"]) }}
            </span>
            <input
              type="text"
              placeholder="First Name"
              formControlName="firstName"
              required=""
              autofocus=""
              class="form-control rounded-pill shadow-sm px-4"
              [class.is-invalid]="
                model.controls['firstName'].errors &&
                model.controls['firstName'].dirty
              "
            />

            <span class="error-message">
              {{ getErrorMessage(model.controls["lastName"]) }}
            </span>
            <input
              type="text"
              placeholder="Last Name"
              formControlName="lastName"
              required=""
              autofocus=""
              class="form-control rounded-pill shadow-sm px-4"
              [class.is-invalid]="
                model.controls['lastName'].errors &&
                model.controls['lastName'].dirty
              "
            />

            <span class="error-message">
              {{ getErrorMessage(model.controls["username"]) }}
            </span>
            <input
              formControlName="username"
              type="text"
              placeholder="Username"
              required=""
              autofocus=""
              class="form-control rounded-pill shadow-sm px-4"
              [class.is-invalid]="
                model.controls['username'].errors &&
                model.controls['username'].dirty
              "
            />

            <span class="error-message">
              {{ getErrorMessage(model.controls["password"]) }}
            </span>
            <input
              formControlName="password"
              type="password"
              placeholder="Password"
              required=""
              class="form-control rounded-pill shadow-sm px-4 text-primary"
              [class.is-invalid]="
                model.controls['password'].errors &&
                model.controls['password'].dirty
              "
            />

            <span class="error-message">
              {{ getErrorMessage(model.controls["dateOfBirth"]) }}
            </span>
            <input
              formControlName="dateOfBirth"
              type="date"
              required=""
              class="form-control rounded-pill shadow-sm px-4"
              [class.is-invalid]="
                model.controls['dateOfBirth'].errors &&
                model.controls['dateOfBirth'].dirty
              "
              [class.text-primary]="model.controls['dateOfBirth'].valid"
            />

            <span class="error-message">
              {{ getErrorMessage(model.controls["gender"]) }}
            </span>
            <select
              formControlName="gender"
              required=""
              class="form-control rounded-pill shadow-sm px-4"
              [class.is-invalid]="
                model.controls['gender'].errors &&
                model.controls['gender'].dirty
              "
              [class.text-primary]="model.controls['gender'].valid"
            >
              <option disabled hidden selected value="">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

            <button
              *ngIf="model.valid"
              type="submit"
              class="btn btn-primary btn-block mb-2 rounded-pill shadow-sm"
            >
              Sign Up
            </button>
          </form>
          <div class="login align-items-center">
            Already have an account?
            <a routerLink="/login">Login here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
